.custom-select {
    position: relative;
    width: calc(100% / 2 - 20px);
    height: 50px;
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--orange);
    color: var(--orange);
    font-size: 20px;
}
@media screen and (max-width: 480px) {
    .custom-select {
      width: 100%;
    }
  }
.custom-select select {
    display: none;
    /*hide original SELECT element:*/
}
:root {
    --Background: #f4f2f2;
    --black: #191949;
    --orange: #FE6062;
    --grey: #707070;
    --green: #6ca891;
    --lightGrey: #c2b6b6;
}
/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: none;
}
/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
    color: var(--orange);
    padding: 8px 16px;
    cursor: pointer;
    user-select: none;
}
/*style items (options):*/
.select-items {
    position: absolute;
    background-color: var(--Background);
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
    box-shadow: 0 0 10px var(--black);
}
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}